<h1>Our Projects</h1>

  <!--Page Content-->
  <header class="h-100 d-flex align-items-center justify-content-center">
    <h1 id="projectHeader"></h1>
 </header>

 <header class="h-100 d-flex align-items-center justify-content-center">
     <h2 id="projectOneHeader"></h2>
 </header>
 <section class="h-100 d-flex align-items-center justify-content-center">
     <p id="projectOne"></p>
 </section>
 <figure class="h-100 d-flex align-items-center justify-content-center"><img src="./images/secretcode.PNG" alt="image"></figure>

 <header class="h-100 d-flex align-items-center justify-content-center">
     <h2 id="projectTwoHeader"></h2>
 </header>
 <section class="h-100 d-flex align-items-center justify-content-center">
     <p id="projectTwo"></p>
 </section>
 <figure class="h-100 d-flex align-items-center justify-content-center"><img src="./images/registration.PNG" alt="image"></figure>

 <header class="h-100 d-flex align-items-center justify-content-center">
     <h2 id="projectThreeHeader"></h2>
 </header>
 <section class="h-100 d-flex align-items-center justify-content-center">
     <p id="projectThree"></p>
 </section>
 <figure class="h-100 d-flex align-items-center justify-content-center"><img src="./images/Tic-Tac-Toe.png" alt="image"></figure>